.button-blue{
    -fx-background-color: darkblue;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 4;
}

.label-image{
    -fx-background-image: url("acc.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 170px;
    -fx-background-position: 50% 20%;
    -fx-background-color: linear-gradient(lightblue, dodgerblue);
}
.root-third{
    -fx-background-color: linear-gradient(lightblue, dodgerblue);
}

.buttonChoose{
    -fx-background-color: darkblue;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 4;
    -fx-font-size: 20px;
}

.find{
    -fx-font-size: 15px;
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.black-column.table-cell {
    -fx-padding: 0.5em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 15px "Arial";
    -fx-text-fill: black;
    -fx-background-color: lightblue;
}
.black-column2.table-cell {
    -fx-padding: 0.5em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 15px "Arial";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: skyblue;
}
